$color-main: rgb(146, 161, 205);
$color-accent: rgb(64, 90, 167);
$color-main-darken: rgb(109, 120, 154);
$color-accent-darken: rgb(44, 62, 116);

$navbar-height: 4rem;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin section-heading {
  font-size: 3rem;
  font-weight: 400;
}

@mixin clean-borders {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin set-width($min, $max) {
  min-width: $min;
  max-width: $max;
  margin: 0 auto;
}

// ============== Default Styles ==============

body,
div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

section {
  padding: 2rem;
}

.button {
  background-color: $color-accent;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  display: inline-block; // To prevent margin collapsing

  &:hover {
    background-color: $color-accent-darken;
  }
}


.line-id-container {
  @include flex-center();
  justify-content: flex-start;
  h4 {
    text-align: left;
  }
  p {
    @include clean-borders();
    font-size: 0.8rem;
  }
  img {
    height: 15px;
    margin-right: 6px;
  }
}

// ============== Section Styles ==============

.navbar-container {
  background-color: $color-main;

  display: flex;
  justify-content: space-between;

  height: $navbar-height;

  .himti-logo {
    height: calc(100% - 10px);
    padding: 5px;
  }

  .navbar-list {
    height: 100%;

    .navbar-item {
      color: white;
      font-weight: 300;
      font-size: 1.5rem;

      display: table-cell;
      vertical-align: middle;
      padding: 0 1rem;
      height: $navbar-height;
    }

    .navbar-item:hover {
      background-color: $color-main-darken;
    }
  }
}

#hero {
  background-color: $color-main;
  height: calc(100vh - $navbar-height);

  display: flex;
  padding: 1rem;

  .left {
    width: 30vw;
    padding-left: 3rem;
    flex-direction: column;
    @include flex-center();
    align-items: flex-start;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  .right {
    width: 70vw;
    @include flex-center();
    flex-direction: column;

    img {
      height: 100%;
    }
  }
}

#events {
  h1 {
    color: black;
    padding: 2rem 0;
    @include section-heading();
  }

  .cards-container {
    @include flex-center();
    justify-content: space-between;
    align-items: flex-start;

    margin: 2rem auto;
    @include set-width(500px, 900px);

    .card-container {
      width: 30%;
      background-color: $color-main;
      height: 30rem;

      border-radius: 2rem;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      box-shadow: 11px 4px 31px -9px rgba(0, 0, 0, 0.75);

      img {
        width: 100%;
      }

      h3 {
        font-weight: 500;
        font-size: 1.4rem;
        padding: 1rem 0;
      }

      p {
        font-size: 0.7rem;
        margin: 0 10px 20px 10px;
      }

      .button {
        margin-bottom: 2rem;
        font-size: 0.8rem;
      }
    }
  }
}

#about-us {
  background-color: $color-main;
  padding: 175px 0;

  h1 {
    @include section-heading();
    margin-bottom: 30px;
  }

  .container {
    @include flex-center();
    min-width: 500px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    .left {
      width: 30%;
    }

    .right {
      width: 60%;
      p {
        text-align: left;
      }
    }
  }
}

#contact-us {
  background-color: $color-main;
  h2 {
    @include section-heading();
  }

  & > p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 20px 0 40px 0;
  }

    .textbox-container {
      @include set-width(300px, 500px);
      border-radius: 2rem;
      overflow: hidden;
  
      display: flex;
      width: 50%;
      height: 50px;
      margin: 0 auto 60px auto;
  
      input[type='email'] {
        @include clean-borders();
        height: 100%;
        width: 80%;
        padding: 0 10%;
        color: black;
  
        &:focus {
          outline: none;
        }
      }
  
      input[type='submit'] {
        @include clean-borders();
        background-color: $color-accent;
        width: 20%;
  
        font-size: 1rem;
        color: white;
  
        &:hover {
          cursor: pointer;
          background-color: $color-accent-darken;
        }
      }
    }

  .contacts-container {
    @include set-width(500px, 800px);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    // I have no clue how to clean this
    &>h4 {
      width: 30%;
      text-align: left;
    } 

    .line-contact-container {
      width: 32%;
      h4 {
        text-align: left;
      }
    }
  }
}

.footer {
  background-color: $color-accent;

  .footer-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 50px;
    margin: 0 auto;

    @include flex-center();
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: row;
      flex-grow: 8;

    }
    .right {
      @include flex-center();
      align-items: flex-start;

      .icon {
        @include flex-center();
        padding: 2px 0;
        justify-content: flex-start;

        img {
          padding-right: 8px;
        }
      }
    }
    
  }
}
.copyright {
  display: flex;
  @include flex-center();

  p {
    letter-spacing: 3;
  }

}


// ============== Tablet Media Queries ==============



// ============== Phone Media Queries ==============
